.container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    min-width: 100%;
    padding: 1rem;
}

.topContainer {
    flex: 1 0 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.textFieldContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 0.5rem;
    margin: 1rem 0;
}

.dropDownContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 0.5rem;
    margin: 1rem 0;
}

.radioContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 0 auto;
}

.checkboxesContainer,
.radioContainer {
    padding: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

.radioContainer>label,
.checkboxesContainer>label {
    margin-left: 1rem;
}

.checkboxesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 0 auto;
}

textarea {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.textAreaContainer {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.aboutTextArea {
    min-height: 10rem;
}

.submitContainer {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

select {
    background-color: transparent;
}

input[type="text"],
select,
textarea {
    padding: 0.5rem;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    min-width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: none !important;
    border: 1px solid var(--primary-color);
}



button[type="submit"] {
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color);
}