:root {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.darkMode {
  --primary-color: teal;
  --background-color: #121212;
  --text-color: #f5f5f5;
  --accent-color: mediumseagreen;
  --link-color: cornflowerblue;
}

.lightMode {
  --primary-color: teal;
  --background-color: #f5f5f5;
  --text-color: #121212;
  --accent-color: mediumseagreen;
  --link-color: cornflowerblue;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #121212;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: clamp(3rem, 1rem + 10vw, 5rem);
  font-weight: 200;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}