:root {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  scroll-behavior: smooth;

  .darkMode {
    --primary-color: teal;
    --background-color: #121212;
    --text-color: #f5f5f5;
    --accent-color: lightseagreen;
    --link-color: cornflowerblue;
  }

  .lightMode {
    --primary-color: teal;
    --background-color: #f5f5f5;
    --text-color: #121212;
    --accent-color: lightseagreen;
    --link-color: cornflowerblue;
  }
}

* {
  box-sizing: border-box;
  color:
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
  margin-bottom: 3rem;
}

footer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  min-height: 30vh;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
}

h1 {
  font-size: clamp(3rem, 1rem + 10vw, 5rem);
  font-weight: 200;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.errorMessage {
  color: darkred;
}

.hideInPlace {
  visibility: hidden;
}